body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

h1 {
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    margin: 0;
}

#employee-table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f2f2f2; /* Alterado para cinza */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Adicionado border-radius para arredondar a tabela */
}

#employee-table th, #employee-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: #000; /* Alterado para cinza escuro */
}

#employee-table th {
    background-color: #000;
    color: #fff;
    border-radius: 0; /* Removido border-radius do nome da coluna */
}

#employee-form {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

#employee-form input[type="text"],
#employee-form input[type="number"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#employee-form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#employee-form button:hover {
    background-color: #fff;
    color: #000;
}


