.cardlink {
    text-decoration: none;
    --bs-border-radius: 1.5rem;
    --bs-body-bg: hsla(0, 0%, 100%, 0.7);
}

.cardlhover {
    transition: 0.5s;
    backdrop-filter: blur(30px);

}

.cardlhover:hover {
    background: rgba(0, 0, 0, 0.7);
    filter: blur(2);
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    /* filter: invert(); */
}

.svg{
    transition: 0.5s;
}

.cardlhover:hover .svg{
    transition: 0.5s;
    filter: invert();
}

.card {
    margin: auto auto;
    width: 60%;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

#logout{
    transition: 0.3s;
}

#logout:hover{
    transition: 0.3s;
    filter: invert(27%) sepia(53%) saturate(1672%) hue-rotate(202deg) brightness(92%) contrast(87%);
}

#navbar{
    border-radius: 20px;
    background: hsla(0, 0%, 100%, 0.7);
    backdrop-filter: blur(30px);
}