.cardlink{
    text-decoration: none;
}

.cardlhover{
    transition: 0.5s;
}

.cardlhover:hover{
    transition: 0.5s;
    background-color: rgba(143, 143, 143, 0.096);
    transform: scale(1.1)
}

.card {
    margin: 8% auto auto auto;
    width: 25rem;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.btncard{
    background-color: transparent;
    border: none;
}

.botao-voltar{
    background-color: transparent;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
}

.img-botao-voltar{
    width: 30px;
}

.botao-config{
    background-color: transparent;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
}

.img-botao-config{
    width: 30px;
}
