.card {
    margin: 8% auto auto auto;
    width: 25rem;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.botao-voltar{
    background-color: transparent;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
}

.img-botao-voltar{
    width: 30px;
}

.botao-config{
    background-color: transparent;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
}

.img-botao-config{
    width: 30px;
}
